* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
header {
  width: 100%;
  height: 800px;
  background: url(webfeature_img/header.png) no-repeat center/cover;
}
h1 {
  text-align: center;
  padding-top: 60px;
  font-size: 4em;
}
.grid_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
.sucess {
  grid-column: 2/3;
}
.left-img {
  transform: translateX(-230px);
  position: absolute;
}
.right-img {
  transform: translateX(195%);
  position: absolute;
}
.ikoner {
  display: flex;
  grid-column: 2 / 3;
  width: 26%;
}
.struktureret {
  width: 35%;
}
.piechart {
  display: flex;
}
