* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
  height: auto;
  display: block;
}

.first-img {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

header {
  width: 100%;
  height: 850px;
  background: url(illustrations/frontpage_image.svg) no-repeat center/cover;
  position: relative;
}

body {
  font-family: "helvetica", sans-serif;
}
h1 {
  text-align: center;
  padding-top: 60px;
  font-size: 4em;
}

header h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
}

h3 {
  text-align: left;
  padding-top: 60px;
  font-size: 1.5em;
}

h1,
h2,
.sucess h3 {
  color: #485b6b;
}

.grid_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.sucess {
  grid-column: 2/3;
  color: #536573;
}

.quote {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  color: #536573;
  font-weight: 600;
}
.left-img {
  transform: translateX(-230px);
  position: absolute;
}
.right-img {
  transform: translateX(195%);
  position: absolute;
}
.ikoner {
  display: flex;
  grid-column: 2 / 3;
  width: 26%;
}
.struktureret {
  width: 35%;
}
.piechart {
  display: flex;
}
