* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
  height: auto;
}

.first-img {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

header {
  width: 100%;
  height: 850px;
  background: url(../illustrations/frontpage_image.svg) no-repeat center/cover;
  position: relative;
}

body {
  font-family: "helvetica", sans-serif;
  background-image: url(../background_image.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 4em;
}

p {
  margin: 15px 0 15px 0;
}
header h2 {
  text-align: center;
  font-size: 2em;
  color: #485b6b;
}

h1 {
  color: #485b6b;
}

h2 {
  text-align: center;
}

.quote {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #536573;
  font-weight: 600;
}

/* ikoner & kollage-billeder */
.upper_start_box {
  display: flex;
  justify-content: space-between;
}

.ikoner {
  display: flex;
  justify-content: center;
}

.ikoner img {
  width: 35%;
  height: 170px;
}

.sucess {
  display: flex;
  justify-content: center;
}

.sucess img {
  width: 45%;
  padding: 30px;
}

/*piechart*/
.piechart {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.lower_box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.lower_box p {
  color: #536573;
  text-align: center;
  max-width: 200px;
  line-height: 1.5;
  font-size: 12px;
}

/* arrow */
.arrow {
  display: flex;
  justify-content: center;
  animation: MoveUpDown 4s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow img {
  padding-top: 150px;
  width: 30px;
}

video {
  width: 100%;
}
