---
import "../styles/global.css";
import Tekst from "../components/Tekst.astro";
import TekstWhite from "../components/TekstWhite.astro";
import Collage from "../components/Collage.astro";
import Products from "../components/Products.astro";
import Dashline from "../components/Dashline.astro";
import Stoet from "../components/Stoet.astro";
import Footer from "../components/Footer.astro";
import Scrollbar from "../components/Scrollbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../logo/Logo_ITMV_Orange-01_42b8edf8-a819-4592-850f-be8ecc1a03af.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>I TRÅD MED VERDEN – TRÅDE AF FREMGANG</title>
  </head>
  <body>
    <header>
      <Scrollbar />
      <h1 class="titel">TRÅDE AF FREMGANG</h1>
      <h2>BÆREDYGTIGHED OG KVINDLIG UDVIKLING I FOKUS</h2>
      <div class="first-img">
        <img class="logo" src="../logo/Logo_ITMV_Orange-01_42b8edf8-a819-4592-850f-be8ecc1a03af.png" alt="ITMV" />
      </div>
      <div class="quote"><p>“Omsorg har en pris –<br /> det kan ikke gøres gratis”</p></div>
      <div class="arrow"><img src="../illustrations/arrow.png" alt="arrow" /></div>
    </header>

    <main>
      <div class="container">
        <div class="upper_start_box">
          <img src="../illustrations/curtain1.png" alt="illustration" />

          <Tekst
            tekst="I hjertet af enhver succesfuld virksomhed findes en kerne af visioner og mål, der driver dens vækst og indflydelse. I tråd med verden er ingen undtagelse. Grundlagt med en vision om at styrke kvinder og fremme mangfoldighed og inklusion, har denne virksomhed formået at skabe et inspirerende eksempel på, hvordan erhvervslivet kan tjene som en drivkraft for sociale ændringer."
            secondtekst="Derudover har I tråd med verden haft en betydelig indflydelse på den bæredygtige bevægelse med deres fokus på upcycling af tekstiler. Deres succes har ført til samarbejder med store navne såsom IKEA, Tivoli, GANNI og Glyptoteket, hvilket yderligere understreger deres position som en indflydelsesrig spiller på både den sociale og miljømæssige scene."
            overskrift="FORTÆLLING OM DERES SUCCES"
          />
          <img src="../illustrations/curtain2.png" alt="illustration" />
        </div>

        <div class="ikoner">
          <img src="../value_icons/value_icons.png" alt="value icons" />
        </div>

        <div class="second_start_box">
          <Tekst
            tekst="I tråd med verden er en socialøkonomisk virksomhed, der forener bæredygtighed og socialt ansvar."
            secondtekst="Et af deres fremtrædende initiativer er brugen af genanvendte tekstiler i deres webshop og workshops. Ved at genbruge materialer reducerer virksomheden ikke kun affaldsmængden, men skaber også unikke produkter med en historie bag sig. Dette initiativ understreger deres engagement i at tage hånd om vores miljø og fremme cirkulær økonomi."
            thirdtekst="Virksomheden samarbejder med jobcentre for at tilbyde muligheder for udsatte kvinder fra belastede boligområder. Disse kvinder deltager i workshops og træning, der ikke kun giver dem færdigheder til at producere produkterne, men også mulighed for at integrere sig i arbejdsstyrken og opbygge en bæredygtig indkomst."
            overskrift="VÆRDIERNE HOS I TRÅD MED VERDEN"
          />
        </div>
        <div class="sucess">
          <img src="../illustrations/sewing.png" alt="illustration" />
        </div>
        <div class="mid_box">
          <Tekst
            tekst="I 2023 har ITMV formået at skabe en betydelig indvirkning på mennesker i sårbare situationer gennem deres sociale initiativer."
            secondtekst="Med en markant stigning i beskæftigelsestimer og antallet af personer i job er organisationen lykkedes med at skabe meningsfulde jobmuligheder for den sociale målgruppe. De kvalitative tilbagemeldinger fra praktikanterne bekræfter denne indsats."
            thirdtekst="Praktikanterne har oplevet en betydelig forbedring i deres livskvalitet og selvtillid gennem deltagelse i ITMV's programmer. Mange fremhæver, at de har lært nye færdigheder og fået støtte til at håndtere udfordringer i deres dagligdag."
            fourthtekst="'At det har været ok at sige at man havde en skidt dag el. lign., og så blev der taget højde for det - at blive rummet som den man er her og nu.'"
            fifthtekst="'Det har været med til at give mig håb om at kunne arbejde igen, den tålmodighed der er tilstede fik meget af min dårlige samvittighed over min sygdom væk.'"
            sixthtekst="'Der har stort set været plads til at have det som jeg nu havde det på dagen. Tonen og omgangsformen er venlig og rummelig, følte mig for det meste velkommen og værdsat.'"
            overskrift="DEN SOCIALE INDSATS"
          />
        </div>

        <div class="lower_box">
          <div class="piechart">
            <img class="struktureret" src="../gifs/62_procent.gif" alt="62%" />
            <img class="struktureret" src="../gifs/46_procent.gif" alt="46%" />
            <img class="struktureret" src="../gifs/100_procent.gif" alt="100%" />
            <p>62% har haft glæde af at komme ud og få en struktureret hverdag</p>
            <p>46% har fået mod på at komme videre i anden praktik elller arbejde efter endt praktik</p>
            <p>100% af praktikanterne har været meget tilfredse eller bare tilfredse med forløbet</p>
          </div>
        </div>

        <div class="second_lower_box">
          <Tekst
            tekst="Denne succes understreger ITMV's betydning som en nøgleaktør i at fremme social inklusion og velvære blandt sårbare grupper."
            secondtekst="Gennem deres fortsatte dedikation og innovative tilgange fortsætter ITMV med at gøre en positiv forskel i samfundet."
            class="centered-text"
          />
        </div>
      </div>
      <article class="pink_background">
        <div class="space_top">
          <Tekst
            overskrift="KVINDERNES ROLLER HOS ITMV"
            tekst="På værkstederne udgør de ansatte kvinder en afgørende del af arbejdsstyrken, hvor de deltager i produktionen af forskellige produkter til virksomhedskunder, institutioner og designere samt til virksomhedens egen webshop og butik. En central del af deres arbejde er at genanvende tekstiler, og her spiller det dygtige designteam en nøglerolle i at skabe produkter, der matcher de materialer, de har til rådighed, med de mennesker, der deltager i produktionen."
            secondtekst="Virksomheden lægger stor vægt på at oplære og integrere de ansatte kvinder i alle aspekter af arbejdet på værkstederne. De bliver gradvist indført i arbejdsfællesskabet og produktionen, samtidig med at de udvikler deres færdigheder, opnår sikkerhed og selvstændighed i udførelsen af opgaverne."
            thirdtekst="Eksemplerne på de arbejdsopgaver, de ansatte kvinder udfører, spænder bredt fra at klippe stof og forberede syopgaver til at sortere materialer, assistere i butikken og udføre lettere rengøring. Deres bidrag omfatter også mere kreative opgaver som syning, broderi og plantefarvning, som er med til at skabe unikke og værdifulde produkter."
          />
        </div>
        <Collage />
        <Tekst
          overskrift="OLENAS PERSPEKTIV"
          tekst="Endelig er det vigtigt at give kvinderne mulighed for at dele deres egne historier, udfordringer og triumfer hos I tråd med verden. For dem repræsenterer virksomheden ikke blot et sted at arbejde, men et fællesskab, hvor de kan vokse og blomstre både personligt og professionelt. Deres håb og ambitioner for fremtiden er en integreret del af virksomhedens fortsatte udvikling og succes."
        />
        <div class="interview_video">
          <video src="../video/olena_interview.mp4" controls></video>
        </div>
        <Products />
      </article>
      <article class="blue_background">
        <div class="space_text"></div>

        <article class="repair_service">
          <TekstWhite
            overskriftWhite="REPAIR SERVICE LIGE TIL DØREN"
            tekst="Derudover tilbyder I tråd med verden en unik reparationsservice direkte på virksomheders arbejdsplads, hvilket gør det nemt for medarbejderne at genanvende deres tøj og bidrage til en mere bæredygtig fremtid. Denne service gør genanvendelse let og tilgængeligt for alle medarbejdere, uanset deres travle skemaer eller transportbegrænsninger."
            thirdtekst="Ved at vælge reparationsservicen styrker man ikke kun sit eget engagement i bæredygtighed, men den støtter også det lokale samfund ved at skabe flere lønnede timer til syersker, hvilket er afgørende for at opretholde et retfærdigt og bæredygtigt arbejdsmiljø."
            secondtekst="Reparationsservicen bringes direkte til virksomhedens lokaler i Københavnsområdet, og med let adgang til offentlig transport er det bekvemt for alle at drage fordel af denne tjeneste. Ved at aftale en fast dag, f.eks. hver anden uge eller en gang om måneden, kan medarbejderne nemt droppe ind med deres tøj om morgenen og afhente det igen senere samme dag - så let kan det være!"
            fourthtekst="Med hver reparation, hvert oplæg og hver lille justering skaber virksomheden ikke blot et nyt stykke tøj, men også et nyt kapitel i deres engagement i at fremme en cirkulær økonomi og et mere inkluderende samfund. Ved at tilbyde denne service styrker I tråd med verden ikke kun båndene mellem virksomheden og dens medarbejdere, men også mellem virksomheden og dens fællesskab. Det er en måde at vise, at bæredygtighed ikke kun handler om at reducere, genanvende og genbruge, men også om at investere i mennesker og i fremtiden."
          />
        </article>
        <div class="space_text">
          <Dashline />
          <TekstWhite
            overskriftWhite="SKAL VI SAMARBEJDE?"
            tekst="Bliv en del af 'I Tråd med Verden's bevægelse mod bæredygtighed og socialt ansvar. Med samarbejdspartnere som Tivoli, IKEA, Uniqlo og Roskilde Festival, er de allerede på vej mod en bedre fremtid."
            secondtekst="Kontakt dem i dag ved at klikke en af disse ikoner, hvor du kan være med!"
          />
          <Stoet />
          <Dashline />
        </div>

        <Footer />
      </article>
    </main>
  </body>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .titel,
    .logo {
      padding-top: 70px;
    }
    .quote {
      padding-top: 60px;
    }
    .pink_background,
    .blue_background {
      position: relative;
      width: 100%;
    }

    .pink_background {
      position: relative;
      background-image: url("/svg/colored_social_indsats.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      margin-top: 50px;
      padding-bottom: 280px;
    }

    .blue_background {
      position: relative;
      background-color: #3e5c6d;
      width: 100%;
    }

    .repair_service {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .space_top {
      padding-top: 400px;
    }
    /* .space_text {
      padding-top: 90px;
      margin-top: 50px;
    } */

    .interview_video {
      background-color: grey;
      width: 60%;
      height: 500px;
      margin: auto;
      margin-bottom: 300px;
    }
    @media only screen and (max-width: 600px) {
      .tekst {
        padding: 10px;
      }
      .pink_background {
        background-size: contain;
      }
      .space_top {
        padding-top: 200px;
      }
      .interview_video {
        width: auto;
        height: 300px;
        margin: 0 15px 0 15px;
      }

      .upper_start_box img {
        display: none;
      }

      .sucess img {
        padding: 20px;
        width: 70%;
      }

      .ikoner img {
        width: 80%;
        padding: 20px;
      }
    }
  </style>
</html>
