---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../Logo_ITMV_Orange-01_42b8edf8-a819-4592-850f-be8ecc1a03af.png" type="image/png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>I TRÅD MED VERDEN - ITMV</title>
  </head>
  <body>
    <header>
      <h1>TRÅDE AF FREMGANG</h1>
      <h2>BÆREDYGTIGHED OG KVINDLIG UDVIKLING I FOKUS</h2>
      <div class="first-img"><img src="../Logo_ITMV_Orange-01_42b8edf8-a819-4592-850f-be8ecc1a03af.png" alt="ITMV" /></div>
      <div class="quote"></div>
    </header>
    <main>
      <div class="grid_1">
        <div class="left-img"><img src="webfeature_img/ITMV.webp" alt="ITMV" /></div>

        <div class="sucess">
          <h3>FORTÆLLING OM DERES SUCCESS</h3>
          I hjertet af enhver succesfuld virksomhed findes en kerne af visioner og mål, der driver dens vækst og indflydelse. "I tråd med verden" er ingen undtagelse. Grundlagt med en vision om at styrke kvinder og fremme mangfoldighed og inklusion, har denne virksomhed formået at skabe et inspirerende eksempel på, hvordan erhvervslivet kan tjene som en drivkraft for sociale ændringer. Derudover har "I tråd med verden" haft en betydelig indflydelse på den bæredygtige bevægelse med deres fokus på upcycling af tekstiler. Deres succes har ført til samarbejder med store navne såsom IKEA, Tivoli, GANNI og Glyptoteket, hvilket yderligere understreger deres position som en indflydelsesrig spiller på både den sociale og miljømæssige scene.
        </div>
        <div class="right-img"><img src="webfeature_img/ITMV.webp" alt="ITMV" /></div>
      </div>

      <div class="grid_1">
        <div class="sucess">
          <h3>VÆRDIERNE AF I TRÅD MED VERDEN</h3>
          "I tråd med verden" er en socialøkonomisk virksomhed, der forener bæredygtighed og socialt ansvar. Et af deres fremtrædende initiativer er brugen af genanvendte tekstiler i deres webshop og workshops. Ved at genbruge materialer reducerer virksomheden ikke kun affaldsmængden, men skaber også unikke produkter med en historie bag sig. Dette initiativ understreger deres engagement i at tage hånd om vores miljø og fremme cirkulær økonomi. Virksomheden samarbejder med jobcentre for at tilbyde muligheder for udsatte kvinder fra belastede boligområder. Disse kvinder deltager i workshops og træning, der ikke kun giver dem færdigheder til at producere produkterne, men også mulighed for at integrere sig i arbejdsstyrken og opbygge en bæredygtig indkomst.
        </div>
      </div>
      <div class="grid_1">
        <div class="ikoner">
          <img src="webfeature_img/sustainable.svg" alt="" />
          <img src="webfeature_img/recycles.svg" alt="" />
          <img src="webfeature_img/handmade.svg" alt="" />
          <img src="webfeature_img/empowerment.svg" alt="" />
        </div>
      </div>
      <img src="webfeature_img/image 57.png" alt="" />
      <div class="piechart">
        <img class="struktureret" src="webfeature_img/62percent.gif" alt="62%" />
        <img class="struktureret" src="webfeature_img/46percent.gif" alt="46%" />
        <img class="struktureret" src="webfeature_img/100percent.gif" alt="100%" />
      </div>
    </main>
    <footer></footer>
  </body>
</html>
