---

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../Logo_ITMV_Orange-01_42b8edf8-a819-4592-850f-be8ecc1a03af.png" type="image/png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>blue samarbejde</title>
  </head>
  <body>
    <main>
      <div class="pink_background"></div>
      <div class="blue_background">
        <img src="" alt="" />
      </div>
    </main>
    <footer></footer>
  </body>
</html>

<style>
  .pink_backgorund {
    background-image: url("/public/svg/colored_social_indsats_1.svg");
  }
</style>
