---

---
<div class="image_container">
    <img src="/png/cropped_products_collage.png" alt="kvindernes roller">
    </div>
    
    <style>
        img{
        width: 100%;
        height:auto;
    }
    .image_container{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 85px;
    }
    @media only screen and (max-width: 600px){
        .image_container{
            padding-right: 0;
        }
    }
    
    </style>