---

---

<div class="image_container">
  <img src="/png/cropped_products_collage.png" alt="kvindernes roller" />
</div>

<style>
  .image_container {
    max-width: 1400px;
    margin-left: auto + 20px;
    margin-right: auto;
    text-align: center; /* Center the image horizontally */
  }

  img {
    width: 60%;
    height: auto;
    display: inline-block; /* Ensure the image behaves like an inline element */
  }

  @media only screen and (max-width: 600px) {
    .image_container {
      padding-right: 0;
    }
  }
</style>
