---

---

<footer>
  <div class="image_container_row">
    <a href="https://www.linkedin.com/company/i-tr%C3%A5d-med-verden/">
      <img src="/svg/linkedin_icon.svg" alt="linked-in some" />
    </a>
    <a href="https://www.instagram.com/itraadmedverden/">
      <img src="/svg/insta_icon.svg" alt="insta some" />
    </a>
    <a href="https://www.facebook.com/itraadmedverden/?locale=da_DK/">
      <img src="/svg/facebook_icon.svg" alt="facebook some" />
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    background-color: #3e5c6d;
    padding: 55px;
  }

  footer img {
    margin: 0 15px 0 15px;
    width: 20%;
  }

  footer img:hover {
    opacity: 0.7;
  }
</style>
