<div class="image-container">
  <img class="centered-image" src="/png/collage_produkter.png" alt="collage of products" />
</div>

<style>
  .image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Hide overflow */
  }

  .centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%);
    min-width: 100%; /* Ensure the image covers the entire container */
    min-height: 100%; /* Ensure the image covers the entire container */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    z-index: 1000;
  }

  @media only screen and (max-width: 600px) {
    .centered-image {
      width: auto; /* Adjust width percentage as needed */
      height: 80%; /* Allow height to adjust accordingly */
      max-width: none; /* Remove max-width restriction on smaller screens */
      max-height: none; /* Remove max-height restriction on smaller screens */
    }
  }
</style>

