---

---

<div class="image_container_row">

    <a href="https://www.itmv.dk/pages/partnerskab">
        <img src="/svg/samarbejde_icon.svg" alt="collage of products">
    </a>
    <a href="https://www.itmv.dk/pages/donation">
        <img src="/svg/stoet.svg" alt="collage of products">
    </a>
</div>

<style>
      @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.06);
    }
    100% {
      transform: scale(1);
    }
  }

  .image_container_row {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
  }

  .image_container_row img {
    padding: 30px;
    animation: pulse 3s ease-in-out infinite;
  }

  @media only screen and (max-width: 600px) {
    .image_container_row {
      width: 1%;
    }
}
</style>