---
const overskrift = Astro.props.overskrift;
const tekst = Astro.props.tekst;
---

<article class="tekst">
  <h2 class="overskrift">{overskrift}</h2>
  <p>{tekst}</p>
</article>

<style>
  .tekst {
    color: #536573;
    max-width: 550px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .overskrift {
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .tekst {
      padding: 15px;
    }
  }
</style>
